
<div class ="bloc">

  <div class ="left">
    <center><h1>rejoind la secte!!</h1>
            <p> l'inscription devient plus simple</p></center>
  </div>
    <div class ="right">

      <h2>Sign up</h2>


        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

             <center> <div>
  <form action="/action_page.php">
    <label for="email"></label>
    <input type="text" id="email" name="email" placeholder="addresse email">

    <label for="password"></label>
    <input type="text" id="password" name="password" placeholder="password">


    <label for="password-confirmation"></label>
    <input type="text" id="password-confirmation" name="password-confirmation" placeholder="password confirmation">

    
    </select>
    </form>
</div></center>
               <center><div class="sign">
                <div class="sign2">
                <%= link_to "Créer un compte", root_path %>
            </div></center></div>
                  <% end %>

          </div>
    </div>

